<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span class="main-tittle"><a href="main">Viña Alta</a> </span>

  <button
    class="notifications"
    mat-icon-button
    [matBadge]="qtyOfWarnings"
    matBadgeColor="accent"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon> notifications </mat-icon>
  </button>
  <mat-menu #menu="matMenu" style="width: 1000px">
    <ng-container *ngIf="warningSupplies.length; else keepgoingthisway">
      <button mat-menu-item *ngFor="let warningSupply of warningSupplies">
        <b>{{ warningSupply.Name }}: </b>
        <span style="color: red">Stock: {{ warningSupply.Stock }}</span> /
        Minimo:
        {{ warningSupply.MinimumStock }}
      </button>
    </ng-container>
    <ng-template #keepgoingthisway>
      <button mat-menu-item>
        <span>Estamos bien</span>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav="matSidenav"
    class="mat-elevation-z8"
    style="overflow-x: hidden"
  >
    <img
      class="avatar mat-elevation-z8"
      ngxGravatar
      [email]="'example@mail.com'"
    />

    <h4 class="name">
      {{ userInformation.FirstName }} {{ userInformation.LastName }}
    </h4>
    <p class="designation">{{ userInformation.Role }}</p>

    <mat-divider></mat-divider>

    <button
      mat-button
      class="menu-button"
      onclick="location.href='main/supplies/supplies'"
    >
      <mat-icon>work_outline</mat-icon>
      <span><a href=""></a> Insumos</span>
    </button>

    <button
      mat-button
      class="menu-button"
      onclick="location.href='main/supplies/products'"
    >
      <mat-icon>work</mat-icon>
      <span><a href=""></a> Productos</span>
    </button>
    <button
      mat-button
      class="menu-button"
      onclick="location.href='main/production/prod'"
    >
      <mat-icon>work</mat-icon>
      <span><a href=""></a> Producción</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container vstyle="width: 100%" *ngIf="showMainContent; else outlet">
      <div class="wrapper">
        <div class="inner-wrapper">
          <div class="logo">
            <img src="../../../../assets/img/logo.png" alt="" />
            <h2>Bienvenido</h2>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #outlet>
      <div class="content" [ngClass]="sidenav.opened ? 'ml-250' : 'ml-32'">
        <router-outlet style="width: 100%"> </router-outlet>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-spinner *ngIf="loadingStatus$ | async"></app-spinner>
